@font-face {
  font-family: "League Spartan";
  font-weight: 400;
  src: local("LeagueSpartan-Regular"),
    url("/src/assets/fonts/league-spartan-v11-latin-regular.woff2"),
    url("src/assets/fonts/league-spartan-v11-latin-regular.woff");
}

@font-face {
  font-family: "League Spartan";
  font-weight: 500;
  src: local("LeagueSpartan-Medium"),
    url("./src/assets/fonts/league-spartan-v11-latin-500.woff2"),
    url("/src/assets/fonts/league-spartan-v11-latin-500.woff");
}

@font-face {
  font-family: "League Spartan";
  font-weight: 700;
  src: local("LeagueSpartan-Bold"),
    url("/src/assets/fonts/league-spartan-v11-latin-700.woff2"),
    url("src/assets/fonts/league-spartan-v11-latin-700.woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

:root {
  --ff-league-spartan: "League Spartan", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-400: 17px; /* 1.0625rem */
  --fs-500: 19px; /* 1.1875rem */
  --fs-900: 40px; /* 2.5rem */

  /* Higher the number, darker the color */
  --clr-primary-900: hsl(300, 43%, 22%);
  --clr-primary-600: hsl(333, 80%, 67%);

  --clr-neutral-400: hsl(302, 10%, 53%);
  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-100: hsl(0, 0%, 100%);
}

/* ------------ Utility Classes ------------ */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ------------ End of Utility Classes ------------ */

body {
  background-color: var(--clr-neutral-100);
  font-size: var(--fs-400);
  font-family: var(--ff-league-spartan);
  min-height: 100vh;
  display: grid;
  align-items: center;
}

main {
  gap: 40px;
  max-width: 100%;
  max-width: 1160px;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* ---------------- Top Heading Section ---------------- */
.top-section {
  text-align: center;
}

.top-section__title {
  display: inline-block;
  max-width: 300px;
  color: var(--clr-primary-900);
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
  letter-spacing: -1.43px;
  line-height: 32px;
}

.top-section__text {
  max-width: 550px;
  color: var(--clr-neutral-400);
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
  letter-spacing: -0.63px;
  line-height: 25px;
  margin-top: 17px;
}

/* ---------------- Rating Section ---------------- */
.ratings-container {
  gap: 16px;
  width: 100%;
  max-width: 850px;
}

.rating {
  background-color: hsl(300, 24%, 96%);
  width: 100%;
  max-width: 375px;
  padding: 16px 20px;
  border-radius: 5px;
  gap: 15px;
}

.rating__stars {
  display: flex;
  gap: 8px;
}

.rating__star {
  width: 16.55px;
  height: 15.77px;
}

.rating__text {
  color: var(--clr-primary-900);
  font-weight: var(--fw-bold);
}

.reviews {
  align-self: flex-start;
}

.besttech {
  align-self: flex-end;
}

/* ---------------- Card Section ---------------- */
.cards-container {
  gap: 21px;
  width: 100%;
}

.card {
  background-color: var(--clr-primary-900);
  color: var(--clr-neutral-100);
  max-width: 420px;
  padding: 35px 32px;
  border-radius: 8px;
  align-items: flex-start;
  gap: 23px;
}

.card__profile-section {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 23px;
}

.card__img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.card__name-container {
  gap: 4px;
}

.card__name {
  font-weight: var(--fw-bold);
}

.card__verified-status {
  color: hsl(333, 80%, 67%);
}

.card__testimonial {
  font-weight: var(--fw-medium);
  letter-spacing: -0.3px;
  line-height: 22px;
}

.colton-smith {
  align-self: flex-start;
}

.anne-wallace {
  align-self: flex-end;
}

/* ---------------- Media Queries ---------------- */
/* ---------------- 440px ---------------- */
@media (min-width: 440px) {
  .top-section__title {
    max-width: 400px;
  }
}

/* ---------------- 600px ---------------- */
@media (min-width: 600px) {
  .rating {
    max-width: 445px;
    flex-direction: row;
    padding: 20px 32px;
    gap: 32px;
  }
}

/* ---------------- 910px ---------------- */
@media (min-width: 910px) {
  .cards-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* ---------------- 1000px ---------------- */
@media (min-width: 1000px) {
  :root {
    --fs-900: 56px; /* 3.5rem */
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 66px;
  }

  .top-section {
    text-align: left;
  }

  .top-section__title {
    max-width: 445px;
    letter-spacing: -2px;
    line-height: 48px;
  }

  .top-section__text {
    max-width: 445px;
    margin-top: 27px;
  }

  .ratings-container {
    max-width: 540px;
  }

  .cards-container {
    grid-column: 1 / span 2;
    gap: 30px;
  }

  .card {
    max-width: 350px;
    padding: 40px 32px;
  }
}
