@font-face {
  font-family: "League Spartan";
  font-weight: 400;
  src: local("LeagueSpartan-Regular"),
    url("/src/assets/fonts/league-spartan-v11-latin-regular.woff2"),
    url("src/assets/fonts/league-spartan-v11-latin-regular.woff");
}

@font-face {
  font-family: "League Spartan";
  font-weight: 500;
  src: local("LeagueSpartan-Medium"),
    url("./src/assets/fonts/league-spartan-v11-latin-500.woff2"),
    url("/src/assets/fonts/league-spartan-v11-latin-500.woff");
}

@font-face {
  font-family: "League Spartan";
  font-weight: 700;
  src: local("LeagueSpartan-Bold"),
    url("/src/assets/fonts/league-spartan-v11-latin-700.woff2"),
    url("src/assets/fonts/league-spartan-v11-latin-700.woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

:root {
  --ff-league-spartan: "League Spartan", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-400: 1.0625rem; /* 17px */
  --fs-500: 1.1875rem; /* 19px */
  --fs-900: 2.5rem; /* 40px */

  /* Higher the number, darker the color */
  --clr-primary-900: hsl(300, 43%, 22%);
  --clr-primary-600: hsl(333, 80%, 67%);
  /* --clr-primary-600: hsl(332, 78%, 93%); */

  --clr-neutral-400: hsl(302, 10%, 53%);
  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-100: hsl(0, 0%, 100%);
}

/* ------------ Utility Classes ------------ */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* ------------ End of Utility Classes ------------ */

body {
  background-image: url(./src/assets/bg-images/bg-pattern-top-mobile.svg),
    url(./src/assets/bg-images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%;
  background-size: 23.375rem 14.5rem, 100vw 32vh;

  background-color: var(--clr-neutral-100);
  font-size: var(--fs-400);
  font-family: var(--ff-league-spartan);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  gap: 2.5rem;
  max-width: 100%;
  max-width: 72.375rem; /* 1158px */
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* ---------------- Top Heading Section ---------------- */
.top-section {
  text-align: center;
}

.top-section__title {
  display: inline-block;
  max-width: 18.75rem;
  color: var(--clr-primary-900);
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
  letter-spacing: -0.089375rem;
  line-height: 2rem;
}

.top-section__text {
  max-width: 34.375rem;
  color: var(--clr-neutral-400);
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
  letter-spacing: -0.039375rem;
  line-height: 1.5625rem;
  margin-top: 1.0625rem;
}

/* ---------------- Rating Section ---------------- */
.ratings-section {
  width: 100%;
  max-width: 53.125rem;
}

.ratings-container {
  gap: 1rem;
  width: 100%;
}

.rating {
  background-color: var(--clr-neutral-200);
  width: 100%;
  max-width: 23.4375rem;
  padding: 1rem 1.25rem;
  border-radius: 5px;
  gap: 0.9375rem;
}

.rating__stars {
  display: flex;
  gap: 0.5rem;
}

.rating__star {
  width: 1.034375rem; /* 16.55px */
  height: 0.985625rem; /* 15.77px */
}

.rating__text {
  color: var(--clr-primary-900);
  font-weight: var(--fw-bold);
}

.rating:nth-child(1) {
  align-self: flex-start;
}

.rating:nth-child(3) {
  align-self: flex-end;
}

/* ---------------- Card Section ---------------- */
.cards-section {
  width: 100%;
}

.cards-container {
  gap: 1.3125rem;
  width: 100%;
}

.card {
  background-color: var(--clr-primary-900);
  color: var(--clr-neutral-100);
  max-width: 26.25rem;
  padding: 2.1875rem 2rem;
  border-radius: 8px;
  align-items: flex-start;
  gap: 1.625rem;
}

.card__profile-section {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.4375rem;
}

.card__img {
  width: 2.5rem;
  height: auto;
  border-radius: 50%;
}

.card__name-container {
  gap: 0.25rem;
}

.card__name {
  font-weight: var(--fw-bold);
}

.card__verified-status {
  color: var(--clr-primary-600);
}

.card__testimonial {
  font-weight: var(--fw-medium);
  letter-spacing: -0.01875rem;
  line-height: 1.375rem;
}

.card:nth-child(1) {
  align-self: flex-start;
}

.card:nth-child(3) {
  align-self: flex-end;
}

/* ---------------- Media Queries ---------------- */
/* ---------------- 440px ---------------- */
@media (min-width: 27.5rem) {
  .top-section__title {
    max-width: 25rem;
  }
}

/* ---------------- 600px ---------------- */
@media (min-width: 37.5rem) {
  .rating {
    max-width: 27.8125rem;
    flex-direction: row;
    padding: 1.25rem 2rem;
    gap: 2rem;
  }
}

/* ---------------- 910px ---------------- */
@media (min-width: 56.875rem) {
  :root {
    --fs-900: 3.5rem;
  }

  body {
    background-image: url(./src/assets/bg-images/bg-pattern-top-desktop.svg),
      url(./src/assets/bg-images/bg-pattern-bottom-desktop.svg);
    background-size: initial;
  }

  .top-section__title {
    max-width: 34.0625rem;
    letter-spacing: -0.125rem;
    line-height: 3rem;
  }

  .top-section__text {
    margin-top: 1.6875rem;
  }

  .cards-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* ---------------- 1160px ---------------- */
@media (min-width: 72.5rem) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 4.125rem;
  }

  .top-section {
    text-align: left;
  }

  .top-section__title {
    max-width: 27.8125rem;
  }

  .top-section__text {
    max-width: 27.8125rem;
  }

  .ratings-container {
    max-width: 33.75rem;
  }

  .cards-section {
    grid-column: 1 / span 2;
  }

  .cards-container {
    gap: 1.875rem;
  }

  .card {
    max-width: 21.875rem;
    padding: 2.5rem 2rem;
  }

  .card:nth-child(2) {
    transform: translateY(1rem);
  }

  .card:nth-child(3) {
    transform: translateY(2.0625rem);
  }

  /* Slight tweaks to match exactly with the frontendmentor design */
  /* These values can be removed anytime  */
  main {
    transform: translateY(-0.3125rem);
  }

  .top-section {
    transform: translateY(-0.25rem);
  }
}
